<% layout('layouts/boilerplate') %>

    <h1>Meerkat Audiovisuals</h1>
    <div>
        <a href="/audiovisuals/new">New audiovisual</a>
    </div>

    <hr>
    <ul>
        <% for(let audiovisual of all_audiovisuals) { %>
            <a href="/audiovisuals/<%= audiovisual._id %>">
                <%= audiovisual.title %>
            </a>
            <br>
            <% } %>
    </ul>