<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meerkat - audiovisual.title</title>
</head>

<body>
    <h1>
        <%= audiovisual.title %>
    </h1>

    <p>
        <%=audiovisual.main_cast %>
    </p>
    <p>
        <%=audiovisual.country%>
    </p>
    <p>
        <%=audiovisual.duration%>
    </p>

    <footer>
        <a href="/audiovisuals">Back to all audiovisuals</a>
    </footer>

</body>

</html>