<div class="d-flex flex-row justify-content-between col-6 offset-3 align-self-center">
    <div class="mt-5">
        <h3>Meerkat</h3>
        <p class="lead">Meerkat is an app to test node, mongodb(Mongoose), express, ejs, and
            other aspects of development. In this scenario, this application is developed to
            enable the user to save its favorite Audiovisuals. This category gathers movies, series, documentaries
            and others type of productions similar to these ones. Also the user can make reviews about these
            audiovisuals in the application. </p>

        <p class="lead">
            The app is the result of a course in Udemy, which is
            taught by Colt Steele. The name of the course is <strong>The Web Developer Bootcamp 2024.</strong>
        </p>

        <p class="lead">
            The influence for the name of the app is from the animal found in souther Africa, which can be also
            called suricate.
            Moreover, the choose was because of Timon from The Lion King.
            <a href="https://en.wikipedia.org/wiki/Meerkat"> More information of this animal in Wikipedia</a>
        </p>
    </div>
    <%if(currentUser) {%>
        <div class="ms-3 mt-5">
            <img class="img-fluid" src="https://source.unsplash.com/HTVUiryU9eo">
        </div>
        <%}%>
</div>