<% layout('layouts/boilerplate') %>
    <div class="d-flex flex-row justify-content-between">
        <div>
            <h2>Meerkat</h2>
            <p>Meerkat is an app to test node, mongodb(Mongoose), express, ejs, and
                other aspects of development. In this scenario, this application is developed to
                enable the user to save its favorite Audiovisuals. This category gathers movies, series, documentaries
                and others type of productions similar to these ones.
            </p>
            <p>
                The influence for the name of the app is from the animal found in souther Africa, which can be also
                called suricate.
                Moreover, the choose was because of Timon from The Lion King.
                <a href="https://en.wikipedia.org/wiki/Meerkat"> More information of this animal in Wikipedia</a>
            </p>
        </div>

        <div class="ms-3 my-5">
            <img class="img-fluid" src="https://source.unsplash.com/HTVUiryU9eo">
        </div>
    </div>