<% layout('layouts/boilerplate') %>
    <div class="alert alert-danger container" role="alert">
        <h4 class="alert-heading">
            <%= err.message%>
        </h4>
        <%if(process.env.NODE_ENV !=='production' ) { %>
            <div class="text-wrap">
                <%= err.stack %>
            </div>
            <% }%>
    </div>