<% layout('layouts/boilerplate') %>
    <div class="alert alert-danger col-9 offset-2" role="alert">
        <h4 class="alert-heading">
            <%= err.message%>
        </h4>
        <div>
            <%= err.stack %>
        </div>
    </div>