<% layout('layouts/boilerplate') %>

    <h1>Meerkat Reviews</h1>
    <hr>
    <% for(let review of user_reviews) { %>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title fw-bold">
                    <%= review.title %>
                </h5>
                <div>
                    <%= review.rating %>
                </div>
                <div>
                    <%= review.favorite %>
                </div>
                <div>
                    <%= review.date_added %>
                </div>
            </div>
        </div>
        <% } %>