<% layout('layouts/boilerplate') %>
    <h2>Sign in</h2>
    <div class="container d-flex justify-content-center">
        <form action="signin" method="POST" class="validate-form" novalidate>
            <div class="mb-2">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" id="username" name="[username]" autofocus required>
            </div>
            <div class="mb-2">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" id="password" name="[password]" required>
            </div>
            <div class="d-grid gap-2 mt-3">
                <button class="btn btn-success">Sign in</button>
            </div>
        </form>
    </div>